.bg-alice-blue {
  background-color: #F0F8FF !important; }

.bg-antique-white {
  background-color: #FAEBD7 !important; }

.bg-aqua {
  background-color: #00FFFF !important; }

.bg-aquamarine {
  background-color: #7FFFD4 !important; }

.bg-azure {
  background-color: #F0FFFF !important; }

.bg-beige {
  background-color: #F5F5DC !important; }

.bg-bisque {
  background-color: #FFE4C4 !important; }

.bg-black {
  background-color: #000000 !important; }

.bg-blanched-almond {
  background-color: #FFEBCD !important; }

.bg-blue {
  background-color: #0000FF !important; }

.bg-blue-violet {
  background-color: #8A2BE2 !important; }

.bg-brown {
  background-color: #A52A2A !important; }

.bg-burly-wood {
  background-color: #DEB887 !important; }

.bg-cadet-blue {
  background-color: #5F9EA0 !important; }

.bg-chartreuse {
  background-color: #7FFF00 !important; }

.bg-chocolate {
  background-color: #D2691E !important; }

.bg-coral {
  background-color: #FF7F50 !important; }

.bg-cornflower-blue {
  background-color: #6495ED !important; }

.bg-cornsilk {
  background-color: #FFF8DC !important; }

.bg-crimson {
  background-color: #DC143C !important; }

.bg-cyan {
  background-color: #00FFFF !important; }

.bg-dark-blue {
  background-color: #00008B !important; }

.bg-dark-cyan {
  background-color: #008B8B !important; }

.bg-dark-golden-rod {
  background-color: #B8860B !important; }

.bg-dark-gray {
  background-color: #A9A9A9 !important; }

.bg-dark-grey {
  background-color: #A9A9A9 !important; }

.bg-dark-green {
  background-color: #006400 !important; }

.bg-dark-khaki {
  background-color: #BDB76B !important; }

.bg-dark-magenta {
  background-color: #8B008B !important; }

.bg-dark-olive-green {
  background-color: #556B2F !important; }

.bg-dark-orange {
  background-color: #FF8C00 !important; }

.bg-dark-orchid {
  background-color: #9932CC !important; }

.bg-dark-red {
  background-color: #8B0000 !important; }

.bg-dark-salmon {
  background-color: #E9967A !important; }

.bg-dark-sea-green {
  background-color: #8FBC8F !important; }

.bg-dark-slate-blue {
  background-color: #483D8B !important; }

.bg-dark-slate-gray {
  background-color: #2F4F4F !important; }

.bg-dark-slate-grey {
  background-color: #2F4F4F !important; }

.bg-dark-turquoise {
  background-color: #00CED1 !important; }

.bg-dark-violet {
  background-color: #9400D3 !important; }

.bg-deep-pink {
  background-color: #FF1493 !important; }

.bg-deep-sky-blue {
  background-color: #00BFFF !important; }

.bg-dim-gray {
  background-color: #696969 !important; }

.bg-dim-grey {
  background-color: #696969 !important; }

.bg-dodger-blue {
  background-color: #1E90FF !important; }

.bg-fire-brick {
  background-color: #B22222 !important; }

.bg-floral-white {
  background-color: #FFFAF0 !important; }

.bg-forest-green {
  background-color: #228B22 !important; }

.bg-fuchsia {
  background-color: #FF00FF !important; }

.bg-gainsboro {
  background-color: #DCDCDC !important; }

.bg-ghost-white {
  background-color: #F8F8FF !important; }

.bg-gold {
  background-color: #FFD700 !important; }

.bg-golden-rod {
  background-color: #DAA520 !important; }

.bg-gray {
  background-color: #808080 !important; }

.bg-grey {
  background-color: #808080 !important; }

.bg-green {
  background-color: #008000 !important; }

.bg-green-yellow {
  background-color: #ADFF2F !important; }

.bg-honey-dew {
  background-color: #F0FFF0 !important; }

.bg-hot-pink {
  background-color: #FF69B4 !important; }

.bg-indian-red {
  background-color: #CD5C5C !important; }

.bg-indigo {
  background-color: #4B0082 !important; }

.bg-ivory {
  background-color: #FFFFF0 !important; }

.bg-khaki {
  background-color: #F0E68C !important; }

.bg-lavender {
  background-color: #E6E6FA !important; }

.bg-lavender-blush {
  background-color: #FFF0F5 !important; }

.bg-lawn-green {
  background-color: #7CFC00 !important; }

.bg-lemon-chiffon {
  background-color: #FFFACD !important; }

.bg-light-blue {
  background-color: #ADD8E6 !important; }

.bg-light-coral {
  background-color: #F08080 !important; }

.bg-light-cyan {
  background-color: #E0FFFF !important; }

.bg-light-golden-rod-yellow {
  background-color: #FAFAD2 !important; }

.bg-light-gray {
  background-color: #D3D3D3 !important; }

.bg-light-grey {
  background-color: #D3D3D3 !important; }

.bg-light-green {
  background-color: #90EE90 !important; }

.bg-light-pink {
  background-color: #FFB6C1 !important; }

.bg-light-salmon {
  background-color: #FFA07A !important; }

.bg-light-sea-green {
  background-color: #20B2AA !important; }

.bg-light-sky-blue {
  background-color: #87CEFA !important; }

.bg-light-slate-gray {
  background-color: #778899 !important; }

.bg-light-slate-grey {
  background-color: #778899 !important; }

.bg-light-steel-blue {
  background-color: #B0C4DE !important; }

.bg-light-yellow {
  background-color: #FFFFE0 !important; }

.bg-lime {
  background-color: #00FF00 !important; }

.bg-lime-green {
  background-color: #32CD32 !important; }

.bg-linen {
  background-color: #FAF0E6 !important; }

.bg-magenta {
  background-color: #FF00FF !important; }

.bg-maroon {
  background-color: #800000 !important; }

.bg-medium-aqua-marine {
  background-color: #66CDAA !important; }

.bg-medium-blue {
  background-color: #0000CD !important; }

.bg-medium-orchid {
  background-color: #BA55D3 !important; }

.bg-medium-purple {
  background-color: #9370DB !important; }

.bg-medium-sea-green {
  background-color: #3CB371 !important; }

.bg-medium-slate-blue {
  background-color: #7B68EE !important; }

.bg-medium-spring-green {
  background-color: #00FA9A !important; }

.bg-medium-turquoise {
  background-color: #48D1CC !important; }

.bg-medium-violet-red {
  background-color: #C71585 !important; }

.bg-midnight-blue {
  background-color: #191970 !important; }

.bg-mint-cream {
  background-color: #F5FFFA !important; }

.bg-misty-rose {
  background-color: #FFE4E1 !important; }

.bg-moccasin {
  background-color: #FFE4B5 !important; }

.bg-navajo-white {
  background-color: #FFDEAD !important; }

.bg-navy {
  background-color: #000080 !important; }

.bg-old-lace {
  background-color: #FDF5E6 !important; }

.bg-olive {
  background-color: #808000 !important; }

.bg-olive-drab {
  background-color: #6B8E23 !important; }

.bg-orange {
  background-color: #FFA500 !important; }

.bg-orange-red {
  background-color: #FF4500 !important; }

.bg-orchid {
  background-color: #DA70D6 !important; }

.bg-pale-golden-rod {
  background-color: #EEE8AA !important; }

.bg-pale-green {
  background-color: #98FB98 !important; }

.bg-pale-turquoise {
  background-color: #AFEEEE !important; }

.bg-pale-violet-red {
  background-color: #DB7093 !important; }

.bg-papaya-whip {
  background-color: #FFEFD5 !important; }

.bg-peach-puff {
  background-color: #FFDAB9 !important; }

.bg-peru {
  background-color: #CD853F !important; }

.bg-pink {
  background-color: #FFC0CB !important; }

.bg-plum {
  background-color: #DDA0DD !important; }

.bg-powder-blue {
  background-color: #B0E0E6 !important; }

.bg-purple {
  background-color: #800080 !important; }

.bg-rebecca-purple {
  background-color: #663399 !important; }

.bg-red {
  background-color: #FF0000 !important; }

.bg-rosy-brown {
  background-color: #BC8F8F !important; }

.bg-royal-blue {
  background-color: #4169E1 !important; }

.bg-saddle-brown {
  background-color: #8B4513 !important; }

.bg-salmon {
  background-color: #FA8072 !important; }

.bg-sandy-brown {
  background-color: #F4A460 !important; }

.bg-sea-green {
  background-color: #2E8B57 !important; }

.bg-sea-shell {
  background-color: #FFF5EE !important; }

.bg-sienna {
  background-color: #A0522D !important; }

.bg-silver {
  background-color: #C0C0C0 !important; }

.bg-sky-blue {
  background-color: #87CEEB !important; }

.bg-slate-blue {
  background-color: #6A5ACD !important; }

.bg-slate-gray {
  background-color: #708090 !important; }

.bg-slate-grey {
  background-color: #708090 !important; }

.bg-snow {
  background-color: #FFFAFA !important; }

.bg-spring-green {
  background-color: #00FF7F !important; }

.bg-steel-blue {
  background-color: #4682B4 !important; }

.bg-tan {
  background-color: #D2B48C !important; }

.bg-teal {
  background-color: #008080 !important; }

.bg-thistle {
  background-color: #D8BFD8 !important; }

.bg-tomato {
  background-color: #FF6347 !important; }

.bg-turquoise {
  background-color: #40E0D0 !important; }

.bg-violet {
  background-color: #EE82EE !important; }

.bg-wheat {
  background-color: #F5DEB3 !important; }

.bg-white {
  background-color: #FFFFFF !important; }

.bg-white-smoke {
  background-color: #F5F5F5 !important; }

.bg-yellow {
  background-color: #FFFF00 !important; }

.bg-yellow-green {
  background-color: #9ACD32 !important; }

.card-header {
  border: 1px solid grey;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding: 10px;
  font-weight: bold; }

.card-body {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 10px; }

form, * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ezforms-h1, .ezforms-h2, .ezforms-h3, .ezforms-h4, .ezforms-h5, .ezforms-h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding: 0px;
  margin: 0px; }

form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto; }
  form .ezforms-h1, form .ezforms-h2, form .ezforms-h3, form .ezforms-h4, form .ezforms-h5, form .ezforms-h6 {
    flex-grow: 16;
    flex-basis: 100%; }

button {
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #9b9b9b; }

button:hover {
  cursor: pointer; }

textarea {
  width: 100%; }

label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; }

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=file], input[type=number], input[type=url], textarea {
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

input[type=color] {
  height: 32px;
  width: 48px;
  padding: 2px;
  border-width: 1px; }

input[type=date], input[type=datetime-local], input[type=time], input[type=month], input[type=week] {
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

input[type=range] {
  margin-top: 3px; }

input[type=radio] {
  display: inline-block; }

input:not([type=checkbox]):not([type=radio]):not([type=file]) {
  height: 33px; }

select {
  margin: 1px 0px 0px 0px;
  font-size: 16px;
  width: 100%;
  -webkit-appearance: menulist-button; }

select:not([multiple]) {
  height: 33px; }

select[multiple] {
  font-size: 16px;
  -webkit-appearance: none;
  background: white; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16 {
  margin-bottom: 15px;
  padding-right: 10px;
  flex-grow: 0;
  flex-shrink: 0; }

.col-1 {
  flex-basis: 6.25%; }

.col-2 {
  flex-basis: 12.5%; }

.col-3 {
  flex-basis: 18.75%; }

.col-4 {
  flex-grow: 0;
  flex-basis: 25%; }

.col-5 {
  flex-basis: 31.25%; }

.col-6 {
  flex-basis: 37.5%; }

.col-7 {
  flex-basis: 43.75%; }

.col-8 {
  flex-basis: 50%; }

.col-9 {
  flex-basis: 56.25%; }

.col-10 {
  flex-basis: 62.5%; }

.col-11 {
  flex-basis: 68.75%; }

.col-12 {
  flex-basis: 75%; }

.col-13 {
  flex-basis: 81.25%; }

.col-14 {
  flex-basis: 87.5%; }

.col-15 {
  flex-basis: 93.75%; }

.col-16 {
  flex-basis: 100%; }

.options-horizontal, .options-vertical {
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.options-horizontal {
  height: 34px;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center; }

.options-vertical {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: flex-start; }

.options-horizontal > div, .options-vertical > div {
  padding: 0px 5px 0px 5px; }
  .options-horizontal > div label, .options-vertical > div label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px; }

.options-horizontal > div {
  display: inline-block; }

.options-vertical > div {
  display: block; }

button {
  margin-top: 10px; }

.alert-error, .alert-warning, .alert-info, .alert-success {
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  font-family: Arial, Helvetica, sans-serif; }

.alert-error {
  color: #c60d26;
  border: 1px solid rgba(198, 13, 38, 0.4);
  background-color: rgba(198, 13, 38, 0.3); }

.alert-warning {
  color: #d77d00;
  border: 1px solid rgba(215, 125, 0, 0.4);
  background-color: rgba(215, 125, 0, 0.3); }

.alert-info {
  color: #0087e1;
  border: 1px solid rgba(0, 135, 255, 0.4);
  background-color: rgba(0, 135, 255, 0.3); }

.alert-success {
  color: #328427;
  border: 1px solid rgba(50, 132, 39, 0.4);
  background-color: rgba(50, 132, 39, 0.3); }

.octicon-alert {
  fill: #c60d26;
  margin-bottom: -2px; }

.octicon-issue-opened {
  fill: #ff9400;
  margin-bottom: -3px; }

.octicon-question {
  fill: #0087ff;
  margin-bottom: -3px; }

.octicon-check {
  fill: #328427;
  margin-bottom: -4px; }

button[type=reset] {
  color: white;
  background: #e10000; }

button[type=reset]:hover {
  background: rgba(225, 0, 0, 0.8); }

button[type=button] {
  color: white;
  background: #7d7d7d; }

button[type=button]:hover {
  background: rgba(125, 125, 125, 0.8); }

button[type=submit] {
  color: white;
  background: #446e9b; }

button[type=submit]:hover {
  background: rgba(68, 110, 155, 0.8); }

.fill-alice-blue {
  fill: #F0F8FF !important; }

.fill-antique-white {
  fill: #FAEBD7 !important; }

.fill-aqua {
  fill: #00FFFF !important; }

.fill-aquamarine {
  fill: #7FFFD4 !important; }

.fill-azure {
  fill: #F0FFFF !important; }

.fill-beige {
  fill: #F5F5DC !important; }

.fill-bisque {
  fill: #FFE4C4 !important; }

.fill-black {
  fill: #000000 !important; }

.fill-blanched-almond {
  fill: #FFEBCD !important; }

.fill-blue {
  fill: #0000FF !important; }

.fill-blue-violet {
  fill: #8A2BE2 !important; }

.fill-brown {
  fill: #A52A2A !important; }

.fill-burly-wood {
  fill: #DEB887 !important; }

.fill-cadet-blue {
  fill: #5F9EA0 !important; }

.fill-chartreuse {
  fill: #7FFF00 !important; }

.fill-chocolate {
  fill: #D2691E !important; }

.fill-coral {
  fill: #FF7F50 !important; }

.fill-cornflower-blue {
  fill: #6495ED !important; }

.fill-cornsilk {
  fill: #FFF8DC !important; }

.fill-crimson {
  fill: #DC143C !important; }

.fill-cyan {
  fill: #00FFFF !important; }

.fill-dark-blue {
  fill: #00008B !important; }

.fill-dark-cyan {
  fill: #008B8B !important; }

.fill-dark-golden-rod {
  fill: #B8860B !important; }

.fill-dark-gray {
  fill: #A9A9A9 !important; }

.fill-dark-grey {
  fill: #A9A9A9 !important; }

.fill-dark-green {
  fill: #006400 !important; }

.fill-dark-khaki {
  fill: #BDB76B !important; }

.fill-dark-magenta {
  fill: #8B008B !important; }

.fill-dark-olive-green {
  fill: #556B2F !important; }

.fill-dark-orange {
  fill: #FF8C00 !important; }

.fill-dark-orchid {
  fill: #9932CC !important; }

.fill-dark-red {
  fill: #8B0000 !important; }

.fill-dark-salmon {
  fill: #E9967A !important; }

.fill-dark-sea-green {
  fill: #8FBC8F !important; }

.fill-dark-slate-blue {
  fill: #483D8B !important; }

.fill-dark-slate-gray {
  fill: #2F4F4F !important; }

.fill-dark-slate-grey {
  fill: #2F4F4F !important; }

.fill-dark-turquoise {
  fill: #00CED1 !important; }

.fill-dark-violet {
  fill: #9400D3 !important; }

.fill-deep-pink {
  fill: #FF1493 !important; }

.fill-deep-sky-blue {
  fill: #00BFFF !important; }

.fill-dim-gray {
  fill: #696969 !important; }

.fill-dim-grey {
  fill: #696969 !important; }

.fill-dodger-blue {
  fill: #1E90FF !important; }

.fill-fire-brick {
  fill: #B22222 !important; }

.fill-floral-white {
  fill: #FFFAF0 !important; }

.fill-forest-green {
  fill: #228B22 !important; }

.fill-fuchsia {
  fill: #FF00FF !important; }

.fill-gainsboro {
  fill: #DCDCDC !important; }

.fill-ghost-white {
  fill: #F8F8FF !important; }

.fill-gold {
  fill: #FFD700 !important; }

.fill-golden-rod {
  fill: #DAA520 !important; }

.fill-gray {
  fill: #808080 !important; }

.fill-grey {
  fill: #808080 !important; }

.fill-green {
  fill: #008000 !important; }

.fill-green-yellow {
  fill: #ADFF2F !important; }

.fill-honey-dew {
  fill: #F0FFF0 !important; }

.fill-hot-pink {
  fill: #FF69B4 !important; }

.fill-indian-red {
  fill: #CD5C5C !important; }

.fill-indigo {
  fill: #4B0082 !important; }

.fill-ivory {
  fill: #FFFFF0 !important; }

.fill-khaki {
  fill: #F0E68C !important; }

.fill-lavender {
  fill: #E6E6FA !important; }

.fill-lavender-blush {
  fill: #FFF0F5 !important; }

.fill-lawn-green {
  fill: #7CFC00 !important; }

.fill-lemon-chiffon {
  fill: #FFFACD !important; }

.fill-light-blue {
  fill: #ADD8E6 !important; }

.fill-light-coral {
  fill: #F08080 !important; }

.fill-light-cyan {
  fill: #E0FFFF !important; }

.fill-light-golden-rod-yellow {
  fill: #FAFAD2 !important; }

.fill-light-gray {
  fill: #D3D3D3 !important; }

.fill-light-grey {
  fill: #D3D3D3 !important; }

.fill-light-green {
  fill: #90EE90 !important; }

.fill-light-pink {
  fill: #FFB6C1 !important; }

.fill-light-salmon {
  fill: #FFA07A !important; }

.fill-light-sea-green {
  fill: #20B2AA !important; }

.fill-light-sky-blue {
  fill: #87CEFA !important; }

.fill-light-slate-gray {
  fill: #778899 !important; }

.fill-light-slate-grey {
  fill: #778899 !important; }

.fill-light-steel-blue {
  fill: #B0C4DE !important; }

.fill-light-yellow {
  fill: #FFFFE0 !important; }

.fill-lime {
  fill: #00FF00 !important; }

.fill-lime-green {
  fill: #32CD32 !important; }

.fill-linen {
  fill: #FAF0E6 !important; }

.fill-magenta {
  fill: #FF00FF !important; }

.fill-maroon {
  fill: #800000 !important; }

.fill-medium-aqua-marine {
  fill: #66CDAA !important; }

.fill-medium-blue {
  fill: #0000CD !important; }

.fill-medium-orchid {
  fill: #BA55D3 !important; }

.fill-medium-purple {
  fill: #9370DB !important; }

.fill-medium-sea-green {
  fill: #3CB371 !important; }

.fill-medium-slate-blue {
  fill: #7B68EE !important; }

.fill-medium-spring-green {
  fill: #00FA9A !important; }

.fill-medium-turquoise {
  fill: #48D1CC !important; }

.fill-medium-violet-red {
  fill: #C71585 !important; }

.fill-midnight-blue {
  fill: #191970 !important; }

.fill-mint-cream {
  fill: #F5FFFA !important; }

.fill-misty-rose {
  fill: #FFE4E1 !important; }

.fill-moccasin {
  fill: #FFE4B5 !important; }

.fill-navajo-white {
  fill: #FFDEAD !important; }

.fill-navy {
  fill: #000080 !important; }

.fill-old-lace {
  fill: #FDF5E6 !important; }

.fill-olive {
  fill: #808000 !important; }

.fill-olive-drab {
  fill: #6B8E23 !important; }

.fill-orange {
  fill: #FFA500 !important; }

.fill-orange-red {
  fill: #FF4500 !important; }

.fill-orchid {
  fill: #DA70D6 !important; }

.fill-pale-golden-rod {
  fill: #EEE8AA !important; }

.fill-pale-green {
  fill: #98FB98 !important; }

.fill-pale-turquoise {
  fill: #AFEEEE !important; }

.fill-pale-violet-red {
  fill: #DB7093 !important; }

.fill-papaya-whip {
  fill: #FFEFD5 !important; }

.fill-peach-puff {
  fill: #FFDAB9 !important; }

.fill-peru {
  fill: #CD853F !important; }

.fill-pink {
  fill: #FFC0CB !important; }

.fill-plum {
  fill: #DDA0DD !important; }

.fill-powder-blue {
  fill: #B0E0E6 !important; }

.fill-purple {
  fill: #800080 !important; }

.fill-rebecca-purple {
  fill: #663399 !important; }

.fill-red {
  fill: #FF0000 !important; }

.fill-rosy-brown {
  fill: #BC8F8F !important; }

.fill-royal-blue {
  fill: #4169E1 !important; }

.fill-saddle-brown {
  fill: #8B4513 !important; }

.fill-salmon {
  fill: #FA8072 !important; }

.fill-sandy-brown {
  fill: #F4A460 !important; }

.fill-sea-green {
  fill: #2E8B57 !important; }

.fill-sea-shell {
  fill: #FFF5EE !important; }

.fill-sienna {
  fill: #A0522D !important; }

.fill-silver {
  fill: #C0C0C0 !important; }

.fill-sky-blue {
  fill: #87CEEB !important; }

.fill-slate-blue {
  fill: #6A5ACD !important; }

.fill-slate-gray {
  fill: #708090 !important; }

.fill-slate-grey {
  fill: #708090 !important; }

.fill-snow {
  fill: #FFFAFA !important; }

.fill-spring-green {
  fill: #00FF7F !important; }

.fill-steel-blue {
  fill: #4682B4 !important; }

.fill-tan {
  fill: #D2B48C !important; }

.fill-teal {
  fill: #008080 !important; }

.fill-thistle {
  fill: #D8BFD8 !important; }

.fill-tomato {
  fill: #FF6347 !important; }

.fill-turquoise {
  fill: #40E0D0 !important; }

.fill-violet {
  fill: #EE82EE !important; }

.fill-wheat {
  fill: #F5DEB3 !important; }

.fill-white {
  fill: #FFFFFF !important; }

.fill-white-smoke {
  fill: #F5F5F5 !important; }

.fill-yellow {
  fill: #FFFF00 !important; }

.fill-yellow-green {
  fill: #9ACD32 !important; }

body, .flex-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start; }

.flex-stack {
  padding: 0px !important; }

.flex-100, .flex-90, .flex-80, .flex-75, .flex-70, .flex-66, .flex-60, .flex-50, .flex-40, .flex-33, .flex-30, .flex-25, .flex-20, .flex-15, .flex-10, .flex-100px, .flex-125px, .flex-150px, .flex-175px, .flex-200px, .flex-225px, .flex-250px, .flex-300px, .flex-350px, .flex-400px, .flex-450px, .flex-500px, .flex-550px, .flex-600px, .flex-650px, .flex-700px, .flex-750px, .flex-800px, .flex-900px, .flex-1000px, .flex-1100px, .flex-1200px, .flex-ty, .flex-tiny, .flex-sm, .flex-small, .flex-md, .flex-medium, .flex-lg, .flex-large, .flex-xl, .flex-extra-large {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px; }

.flex-100 {
  flex-basis: 100%; }

.flex-90 {
  flex-basis: 90%; }

.flex-80 {
  flex-basis: 80%; }

.flex-75 {
  flex-basis: 75%; }

.flex-70 {
  flex-basis: 70%; }

.flex-66 {
  flex-basis: 66%; }

.flex-60 {
  flex-basis: 60%; }

.flex-50 {
  flex-basis: 50%; }

.flex-40 {
  flex-basis: 40%; }

.flex-33 {
  flex-basis: 33%; }

.flex-30 {
  flex-basis: 30%; }

.flex-25 {
  flex-basis: 25%; }

.flex-20 {
  flex-basis: 20%; }

.flex-15 {
  flex-basis: 10%; }

.flex-10 {
  flex-basis: 10%; }

.flex-100px {
  flex-basis: 100px; }

.flex-125px {
  flex-basis: 125px; }

.flex-150px {
  flex-basis: 150px; }

.flex-175px {
  flex-basis: 175px; }

.flex-200px {
  flex-basis: 200px; }

.flex-225px {
  flex-basis: 225px; }

.flex-250px {
  flex-basis: 250px; }

.flex-300px {
  flex-basis: 300px; }

.flex-350px {
  flex-basis: 350px; }

.flex-400px {
  flex-basis: 400px; }

.flex-450px {
  flex-basis: 450px; }

.flex-500px {
  flex-basis: 500px; }

.flex-550px {
  flex-basis: 550px; }

.flex-600px {
  flex-basis: 600px; }

.flex-650px {
  flex-basis: 650px; }

.flex-700px {
  flex-basis: 700px; }

.flex-750px {
  flex-basis: 750px; }

.flex-800px {
  flex-basis: 800px; }

.flex-900px {
  flex-basis: 900px; }

.flex-1000px {
  flex-basis: 1000px; }

.flex-1100px {
  flex-basis: 1100px; }

.flex-1200px {
  flex-basis: 1200px; }

.flex-ty, .flex-tiny {
  flex-basis: 320px; }

.flex-sm, .flex-small {
  flex-basis: 480px; }

.flex-md, .flex-medium {
  flex-basis: 640px; }

.flex-lg, .flex-large {
  flex-basis: 960px; }

.flex-xl, .flex-extra-large {
  flex-basis: 1280px; }

.fixed {
  flex-grow: 0 !important; }

/** Headers */
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: lighter;
  margin: 0px;
  padding: 0px; }

/** Re-define header sizes */
.h1 {
  font-size: 128px; }

.h2 {
  font-size: 64px; }

.h3 {
  font-size: 48px; }

.h4 {
  font-size: 32px; }

.h5 {
  font-size: 24px; }

.h6 {
  font-size: 16px; }

.image-wrapper {
  text-align: center; }

.image-wrapper img {
  border: 0px; }

.image-shadow-ty, .image-shadow-tiny {
  box-shadow: 3px 3px 3px grey; }

.image-shadow, .image-shadow-sm, .image-shadow-small {
  box-shadow: 5px 5px 5px grey; }

.image-shadow-md, .image-shadow-medium {
  box-shadow: 10px 10px 10px grey; }

.image-shadow-lg, .image-shadow-large {
  box-shadow: 15px 15px 105px grey; }

.image-shadow-xl, .image-shadow-large {
  box-shadow: 25px 25px 25px grey; }

.ml-0 {
  margin-left: 0px; }

.ml-1 {
  margin-left: 5px; }

.ml-2 {
  margin-left: 10px; }

.ml-3 {
  margin-left: 15px; }

.ml-4 {
  margin-left: 20px; }

.ml-5 {
  margin-left: 30px; }

.ml-6 {
  margin-left: 50px; }

.mt-0 {
  margin-left: 0px; }

.mt-1 {
  margin-top: 5px; }

.mt-2 {
  margin-top: 10px; }

.mt-3 {
  margin-top: 15px; }

.mt-4 {
  margin-top: 20px; }

.mt-5 {
  margin-top: 30px; }

.mt-6 {
  margin-top: 50px; }

.mr-0 {
  margin-right: 0px; }

.mr-1 {
  margin-right: 5px; }

.mr-2 {
  margin-right: 10px; }

.mr-3 {
  margin-right: 15px; }

.mr-4 {
  margin-right: 20px; }

.mr-5 {
  margin-right: 30px; }

.mr-6 {
  margin-right: 50px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-1 {
  margin-bottom: 5px; }

.mb-2 {
  margin-bottom: 10px; }

.mb-3 {
  margin-bottom: 15px; }

.mb-4 {
  margin-bottom: 20px; }

.mb-5 {
  margin-bottom: 30px; }

.mb-6 {
  margin-bottom: 50px; }

.mx-0 {
  margin-left: 0px;
  margin-right: 0px; }

.mx-1 {
  margin-left: 5px;
  margin-right: 5px; }

.mx-2 {
  margin-left: 10px;
  margin-right: 10px; }

.mx-3 {
  margin-left: 15px;
  margin-right: 15px; }

.mx-4 {
  margin-left: 20px;
  margin-right: 20px; }

.mx-5 {
  margin-left: 30px;
  margin-right: 30px; }

.mx-6 {
  margin-left: 50px;
  margin-right: 50px; }

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px; }

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px; }

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px; }

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px; }

.my-5 {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-6 {
  margin-top: 50px;
  margin-bottom: 50px; }

.m-0 {
  margin: 0px !important; }

.m-1 {
  margin: 5px !important; }

.m-2 {
  margin: 10px !important; }

.m-3 {
  margin: 15px !important; }

.m-4 {
  margin: 20px !important; }

.m-5 {
  margin: 30px !important; }

.m-6 {
  margin: 50px !important; }

.pl-0 {
  padding-left: 0px; }

.pl-1 {
  padding-left: 5px; }

.pl-2 {
  padding-left: 10px; }

.pl-3 {
  padding-left: 15px; }

.pl-4 {
  padding-left: 20px; }

.pl-5 {
  padding-left: 30px; }

.pl-6 {
  padding-left: 50px; }

.pt-0 {
  padding-top: 0px; }

.pt-1 {
  padding-top: 5px; }

.pt-2 {
  padding-top: 10px; }

.pt-3 {
  padding-top: 15px; }

.pt-4 {
  padding-top: 20px; }

.pt-5 {
  padding-top: 30px; }

.pt-6 {
  padding-top: 50px; }

.pr-0 {
  padding-right: 0px; }

.pr-1 {
  padding-right: 5px; }

.pr-2 {
  padding-right: 10px; }

.pr-3 {
  padding-right: 15px; }

.pr-4 {
  padding-right: 20px; }

.pr-5 {
  padding-right: 30px; }

.pr-6 {
  padding-right: 50px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-1 {
  padding-bottom: 5px; }

.pb-2 {
  padding-bottom: 10px; }

.pb-3 {
  padding-bottom: 15px; }

.pb-4 {
  padding-bottom: 20px; }

.pb-5 {
  padding-bottom: 30px; }

.pb-6 {
  padding-bottom: 50px; }

.px-0 {
  padding-left: 0px;
  padding-right: 0px; }

.px-1 {
  padding-left: 5px;
  padding-right: 5px; }

.px-2 {
  padding-left: 10px;
  padding-right: 10px; }

.px-3 {
  padding-left: 15px;
  padding-right: 15px; }

.px-4 {
  padding-left: 20px;
  padding-right: 20px; }

.px-5 {
  padding-left: 30px;
  padding-right: 30px; }

.px-6 {
  padding-left: 50px;
  padding-right: 50px; }

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px; }

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px; }

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px; }

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px; }

.py-5 {
  padding-top: 30px;
  padding-bottom: 30px; }

.py-6 {
  padding-top: 50px;
  padding-bottom: 50px; }

.p-0 {
  padding: 0px !important; }

.p-1 {
  padding: 5px !important; }

.p-2 {
  padding: 10px !important; }

.p-3 {
  padding: 15px !important; }

.p-4 {
  padding: 20px !important; }

.p-5 {
  padding: 30px !important; }

.p-6 {
  padding: 50px !important; }

.width-10 {
  width: 8%; }

.width-15 {
  width: 13%; }

.width-20 {
  width: 18%; }

.width-25 {
  width: 23%; }

.width-30 {
  width: 28%; }

.width-33 {
  width: 31%; }

.width-40 {
  width: 38%; }

.width-50 {
  width: 48%; }

.width-60 {
  width: 58%; }

.width-66 {
  width: 64%; }

.width-70 {
  width: 68%; }

.width-75 {
  width: 73%; }

.width-80 {
  width: 80%; }

.width-90 {
  width: 88%; }

.width-100 {
  width: 98%; }

.width-100px {
  width: 75px; }

.width-125px {
  width: 100px; }

.width-150px {
  width: 125px; }

.width-175px {
  width: 150px; }

.width-200px {
  width: 175px; }

.width-225px {
  width: 200px; }

.width-250px {
  width: 225px; }

.width-300px {
  width: 275px; }

.width-350px {
  width: 325px; }

.width-400px {
  width: 375px; }

.width-450px {
  width: 425px; }

.width-500px {
  width: 475px; }

.width-550px {
  width: 525px; }

.width-600px {
  width: 575px; }

.width-650px {
  width: 625px; }

.width-700px {
  width: 675px; }

.width-750px {
  width: 725px; }

.width-800px {
  width: 775px; }

.width-900px {
  width: 875px; }

.width-1000px {
  width: 975px; }

.width-1100px {
  width: 1075px; }

.width-1200px {
  width: 1175px; }

.width-ty, .width-tiny {
  width: 295px; }

.width-sm, .width-small {
  width: 455px; }

.width-md, .width-medium {
  width: 615px; }

.width-lg, .width-large {
  width: 935px; }

.width-xl, .width-extra-large {
  width: 1255px; }

.table {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse; }

.table td, .table th {
  border: 1px solid grey;
  text-align: left; }

.table td, .table th {
  padding: 5px; }

.text-alice-blue {
  color: #F0F8FF !important; }

.text-antique-white {
  color: #FAEBD7 !important; }

.text-aqua {
  color: #00FFFF !important; }

.text-aquamarine {
  color: #7FFFD4 !important; }

.text-azure {
  color: #F0FFFF !important; }

.text-beige {
  color: #F5F5DC !important; }

.text-bisque {
  color: #FFE4C4 !important; }

.text-black {
  color: #000000 !important; }

.text-blanched-almond {
  color: #FFEBCD !important; }

.text-blue {
  color: #0000FF !important; }

.text-blue-violet {
  color: #8A2BE2 !important; }

.text-brown {
  color: #A52A2A !important; }

.text-burly-wood {
  color: #DEB887 !important; }

.text-cadet-blue {
  color: #5F9EA0 !important; }

.text-chartreuse {
  color: #7FFF00 !important; }

.text-chocolate {
  color: #D2691E !important; }

.text-coral {
  color: #FF7F50 !important; }

.text-cornflower-blue {
  color: #6495ED !important; }

.text-cornsilk {
  color: #FFF8DC !important; }

.text-crimson {
  color: #DC143C !important; }

.text-cyan {
  color: #00FFFF !important; }

.text-dark-blue {
  color: #00008B !important; }

.text-dark-cyan {
  color: #008B8B !important; }

.text-dark-golden-rod {
  color: #B8860B !important; }

.text-dark-gray {
  color: #A9A9A9 !important; }

.text-dark-grey {
  color: #A9A9A9 !important; }

.text-dark-green {
  color: #006400 !important; }

.text-dark-khaki {
  color: #BDB76B !important; }

.text-dark-magenta {
  color: #8B008B !important; }

.text-dark-olive-green {
  color: #556B2F !important; }

.text-dark-orange {
  color: #FF8C00 !important; }

.text-dark-orchid {
  color: #9932CC !important; }

.text-dark-red {
  color: #8B0000 !important; }

.text-dark-salmon {
  color: #E9967A !important; }

.text-dark-sea-green {
  color: #8FBC8F !important; }

.text-dark-slate-blue {
  color: #483D8B !important; }

.text-dark-slate-gray {
  color: #2F4F4F !important; }

.text-dark-slate-grey {
  color: #2F4F4F !important; }

.text-dark-turquoise {
  color: #00CED1 !important; }

.text-dark-violet {
  color: #9400D3 !important; }

.text-deep-pink {
  color: #FF1493 !important; }

.text-deep-sky-blue {
  color: #00BFFF !important; }

.text-dim-gray {
  color: #696969 !important; }

.text-dim-grey {
  color: #696969 !important; }

.text-dodger-blue {
  color: #1E90FF !important; }

.text-fire-brick {
  color: #B22222 !important; }

.text-floral-white {
  color: #FFFAF0 !important; }

.text-forest-green {
  color: #228B22 !important; }

.text-fuchsia {
  color: #FF00FF !important; }

.text-gainsboro {
  color: #DCDCDC !important; }

.text-ghost-white {
  color: #F8F8FF !important; }

.text-gold {
  color: #FFD700 !important; }

.text-golden-rod {
  color: #DAA520 !important; }

.text-gray {
  color: #808080 !important; }

.text-grey {
  color: #808080 !important; }

.text-green {
  color: #008000 !important; }

.text-green-yellow {
  color: #ADFF2F !important; }

.text-honey-dew {
  color: #F0FFF0 !important; }

.text-hot-pink {
  color: #FF69B4 !important; }

.text-indian-red {
  color: #CD5C5C !important; }

.text-indigo {
  color: #4B0082 !important; }

.text-ivory {
  color: #FFFFF0 !important; }

.text-khaki {
  color: #F0E68C !important; }

.text-lavender {
  color: #E6E6FA !important; }

.text-lavender-blush {
  color: #FFF0F5 !important; }

.text-lawn-green {
  color: #7CFC00 !important; }

.text-lemon-chiffon {
  color: #FFFACD !important; }

.text-light-blue {
  color: #ADD8E6 !important; }

.text-light-coral {
  color: #F08080 !important; }

.text-light-cyan {
  color: #E0FFFF !important; }

.text-light-golden-rod-yellow {
  color: #FAFAD2 !important; }

.text-light-gray {
  color: #D3D3D3 !important; }

.text-light-grey {
  color: #D3D3D3 !important; }

.text-light-green {
  color: #90EE90 !important; }

.text-light-pink {
  color: #FFB6C1 !important; }

.text-light-salmon {
  color: #FFA07A !important; }

.text-light-sea-green {
  color: #20B2AA !important; }

.text-light-sky-blue {
  color: #87CEFA !important; }

.text-light-slate-gray {
  color: #778899 !important; }

.text-light-slate-grey {
  color: #778899 !important; }

.text-light-steel-blue {
  color: #B0C4DE !important; }

.text-light-yellow {
  color: #FFFFE0 !important; }

.text-lime {
  color: #00FF00 !important; }

.text-lime-green {
  color: #32CD32 !important; }

.text-linen {
  color: #FAF0E6 !important; }

.text-magenta {
  color: #FF00FF !important; }

.text-maroon {
  color: #800000 !important; }

.text-medium-aqua-marine {
  color: #66CDAA !important; }

.text-medium-blue {
  color: #0000CD !important; }

.text-medium-orchid {
  color: #BA55D3 !important; }

.text-medium-purple {
  color: #9370DB !important; }

.text-medium-sea-green {
  color: #3CB371 !important; }

.text-medium-slate-blue {
  color: #7B68EE !important; }

.text-medium-spring-green {
  color: #00FA9A !important; }

.text-medium-turquoise {
  color: #48D1CC !important; }

.text-medium-violet-red {
  color: #C71585 !important; }

.text-midnight-blue {
  color: #191970 !important; }

.text-mint-cream {
  color: #F5FFFA !important; }

.text-misty-rose {
  color: #FFE4E1 !important; }

.text-moccasin {
  color: #FFE4B5 !important; }

.text-navajo-white {
  color: #FFDEAD !important; }

.text-navy {
  color: #000080 !important; }

.text-old-lace {
  color: #FDF5E6 !important; }

.text-olive {
  color: #808000 !important; }

.text-olive-drab {
  color: #6B8E23 !important; }

.text-orange {
  color: #FFA500 !important; }

.text-orange-red {
  color: #FF4500 !important; }

.text-orchid {
  color: #DA70D6 !important; }

.text-pale-golden-rod {
  color: #EEE8AA !important; }

.text-pale-green {
  color: #98FB98 !important; }

.text-pale-turquoise {
  color: #AFEEEE !important; }

.text-pale-violet-red {
  color: #DB7093 !important; }

.text-papaya-whip {
  color: #FFEFD5 !important; }

.text-peach-puff {
  color: #FFDAB9 !important; }

.text-peru {
  color: #CD853F !important; }

.text-pink {
  color: #FFC0CB !important; }

.text-plum {
  color: #DDA0DD !important; }

.text-powder-blue {
  color: #B0E0E6 !important; }

.text-purple {
  color: #800080 !important; }

.text-rebecca-purple {
  color: #663399 !important; }

.text-red {
  color: #FF0000 !important; }

.text-rosy-brown {
  color: #BC8F8F !important; }

.text-royal-blue {
  color: #4169E1 !important; }

.text-saddle-brown {
  color: #8B4513 !important; }

.text-salmon {
  color: #FA8072 !important; }

.text-sandy-brown {
  color: #F4A460 !important; }

.text-sea-green {
  color: #2E8B57 !important; }

.text-sea-shell {
  color: #FFF5EE !important; }

.text-sienna {
  color: #A0522D !important; }

.text-silver {
  color: #C0C0C0 !important; }

.text-sky-blue {
  color: #87CEEB !important; }

.text-slate-blue {
  color: #6A5ACD !important; }

.text-slate-gray {
  color: #708090 !important; }

.text-slate-grey {
  color: #708090 !important; }

.text-snow {
  color: #FFFAFA !important; }

.text-spring-green {
  color: #00FF7F !important; }

.text-steel-blue {
  color: #4682B4 !important; }

.text-tan {
  color: #D2B48C !important; }

.text-teal {
  color: #008080 !important; }

.text-thistle {
  color: #D8BFD8 !important; }

.text-tomato {
  color: #FF6347 !important; }

.text-turquoise {
  color: #40E0D0 !important; }

.text-violet {
  color: #EE82EE !important; }

.text-wheat {
  color: #F5DEB3 !important; }

.text-white {
  color: #FFFFFF !important; }

.text-white-smoke {
  color: #F5F5F5 !important; }

.text-yellow {
  color: #FFFF00 !important; }

.text-yellow-green {
  color: #9ACD32 !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-indent {
  text-indent: 15px !important; }

body {
  font-size: 16px; }

body, body * {
  box-sizing: border-box;
  font-family: Arial, sans-serif; }

p {
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: justify;
  text-indent: 15px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*# sourceMappingURL=trinium.css.map */
