.accordian-header {
  border: 1px solid grey;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.accordian-body {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  padding: 10px;
}
