
%error {
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.alert-error {
  @extend %error;
  color: rgba(198, 13, 38, 1);
  border: 1px solid rgba(198, 13, 38, 0.4);
  background-color: rgba(198, 13, 38, 0.3);
}

.alert-warning {
  @extend %error;
  color: rgba(215, 125, 0, 1);
  border: 1px solid rgba(215, 125, 0, 0.4);
  background-color: rgba(215, 125, 0, 0.3);
}

.alert-info {
  @extend %error;
  color: rgba(0, 135, 225, 1);
  border: 1px solid rgba(0, 135, 255, 0.4);
  background-color: rgba(0, 135, 255, 0.3);
}

.alert-success {
  @extend %error;
  color: rgba(50, 132, 39, 1);
  border: 1px solid rgba(50, 132, 39, 0.4);
  background-color: rgba(50, 132, 39, 0.3);
}

.octicon-alert {
  fill: rgba(198, 13, 38, 1);
  margin-bottom: -2px;
}

.octicon-issue-opened {
  fill: rgba(255, 148, 0, 1);
  margin-bottom: -3px;
}

.octicon-question {
  fill: rgba(0, 135, 255, 1);
  margin-bottom: -3px;
}

.octicon-check {
  fill: rgba(50, 132, 39, 1);
  margin-bottom: -4px;
}
