.bg-alice-blue { background-color: #F0F8FF; }
.bg-antique-white { background-color: #FAEBD7; }
.bg-aqua { background-color: #00FFFF; }
.bg-aquamarine { background-color: #7FFFD4; }
.bg-azure { background-color: #F0FFFF; }
.bg-beige { background-color: #F5F5DC; }
.bg-bisque { background-color: #FFE4C4; }
.bg-black { background-color: #000000; }
.bg-blanched-almond { background-color: #FFEBCD; }
.bg-blue { background-color: #0000FF; }
.bg-blue-violet { background-color: #8A2BE2; }
.bg-brown { background-color: #A52A2A; }
.bg-burly-wood { background-color: #DEB887; }
.bg-cadet-blue { background-color: #5F9EA0; }
.bg-chartreuse { background-color: #7FFF00; }
.bg-chocolate { background-color: #D2691E; }
.bg-coral { background-color: #FF7F50; }
.bg-cornflower-blue { background-color: #6495ED; }
.bg-cornsilk { background-color: #FFF8DC; }
.bg-crimson { background-color: #DC143C; }
.bg-cyan { background-color: #00FFFF; }
.bg-dark-blue { background-color: #00008B; }
.bg-dark-cyan { background-color: #008B8B; }
.bg-dark-golden-rod { background-color: #B8860B; }
.bg-dark-gray { background-color: #A9A9A9; }
.bg-dark-grey { background-color: #A9A9A9; }
.bg-dark-green { background-color: #006400; }
.bg-dark-khaki { background-color: #BDB76B; }
.bg-dark-magenta { background-color: #8B008B; }
.bg-dark-olive-green { background-color: #556B2F; }
.bg-dark-orange { background-color: #FF8C00; }
.bg-dark-orchid { background-color: #9932CC; }
.bg-dark-red { background-color: #8B0000; }
.bg-dark-salmon { background-color: #E9967A; }
.bg-dark-sea-green { background-color: #8FBC8F; }
.bg-dark-slate-blue { background-color: #483D8B; }
.bg-dark-slate-gray { background-color: #2F4F4F; }
.bg-dark-slate-grey { background-color: #2F4F4F; }
.bg-dark-turquoise { background-color: #00CED1; }
.bg-dark-violet { background-color: #9400D3; }
.bg-deep-pink { background-color: #FF1493; }
.bg-deep-sky-blue { background-color: #00BFFF; }
.bg-dim-gray { background-color: #696969; }
.bg-dim-grey { background-color: #696969; }
.bg-dodger-blue { background-color: #1E90FF; }
.bg-fire-brick { background-color: #B22222; }
.bg-floral-white { background-color: #FFFAF0; }
.bg-forest-green { background-color: #228B22; }
.bg-fuchsia { background-color: #FF00FF; }
.bg-gainsboro { background-color: #DCDCDC; }
.bg-ghost-white { background-color: #F8F8FF; }
.bg-gold { background-color: #FFD700; }
.bg-golden-rod { background-color: #DAA520; }
.bg-gray { background-color: #808080; }
.bg-grey { background-color: #808080; }
.bg-green { background-color: #008000; }
.bg-green-yellow { background-color: #ADFF2F; }
.bg-honey-dew { background-color: #F0FFF0; }
.bg-hot-pink { background-color: #FF69B4; }
.bg-indian-red { background-color: #CD5C5C; }
.bg-indigo { background-color: #4B0082; }
.bg-ivory { background-color: #FFFFF0; }
.bg-khaki { background-color: #F0E68C; }
.bg-lavender { background-color: #E6E6FA; }
.bg-lavender-blush { background-color: #FFF0F5; }
.bg-lawn-green { background-color: #7CFC00; }
.bg-lemon-chiffon { background-color: #FFFACD; }
.bg-light-blue { background-color: #ADD8E6; }
.bg-light-coral { background-color: #F08080; }
.bg-light-cyan { background-color: #E0FFFF; }
.bg-light-golden-rod-yellow { background-color: #FAFAD2; }
.bg-light-gray { background-color: #D3D3D3; }
.bg-light-grey { background-color: #D3D3D3; }
.bg-light-green { background-color: #90EE90; }
.bg-light-pink { background-color: #FFB6C1; }
.bg-light-salmon { background-color: #FFA07A; }
.bg-light-sea-green { background-color: #20B2AA; }
.bg-light-sky-blue { background-color: #87CEFA; }
.bg-light-slate-gray { background-color: #778899; }
.bg-light-slate-grey { background-color: #778899; }
.bg-light-steel-blue { background-color: #B0C4DE; }
.bg-light-yellow { background-color: #FFFFE0; }
.bg-lime { background-color: #00FF00; }
.bg-lime-green { background-color: #32CD32; }
.bg-linen { background-color: #FAF0E6; }
.bg-magenta { background-color: #FF00FF; }
.bg-maroon { background-color: #800000; }
.bg-medium-aqua-marine { background-color: #66CDAA; }
.bg-medium-blue { background-color: #0000CD; }
.bg-medium-orchid { background-color: #BA55D3; }
.bg-medium-purple { background-color: #9370DB; }
.bg-medium-sea-green { background-color: #3CB371; }
.bg-medium-slate-blue { background-color: #7B68EE; }
.bg-medium-spring-green { background-color: #00FA9A; }
.bg-medium-turquoise { background-color: #48D1CC; }
.bg-medium-violet-red { background-color: #C71585; }
.bg-midnight-blue { background-color: #191970; }
.bg-mint-cream { background-color: #F5FFFA; }
.bg-misty-rose { background-color: #FFE4E1; }
.bg-moccasin { background-color: #FFE4B5; }
.bg-navajo-white { background-color: #FFDEAD; }
.bg-navy { background-color: #000080; }
.bg-old-lace { background-color: #FDF5E6; }
.bg-olive { background-color: #808000; }
.bg-olive-drab { background-color: #6B8E23; }
.bg-orange { background-color: #FFA500; }
.bg-orange-red { background-color: #FF4500; }
.bg-orchid { background-color: #DA70D6; }
.bg-pale-golden-rod { background-color: #EEE8AA; }
.bg-pale-green { background-color: #98FB98; }
.bg-pale-turquoise { background-color: #AFEEEE; }
.bg-pale-violet-red { background-color: #DB7093; }
.bg-papaya-whip { background-color: #FFEFD5; }
.bg-peach-puff { background-color: #FFDAB9; }
.bg-peru { background-color: #CD853F; }
.bg-pink { background-color: #FFC0CB; }
.bg-plum { background-color: #DDA0DD; }
.bg-powder-blue { background-color: #B0E0E6; }
.bg-purple { background-color: #800080; }
.bg-rebecca-purple { background-color: #663399; }
.bg-red { background-color: #FF0000; }
.bg-rosy-brown { background-color: #BC8F8F; }
.bg-royal-blue { background-color: #4169E1; }
.bg-saddle-brown { background-color: #8B4513; }
.bg-salmon { background-color: #FA8072; }
.bg-sandy-brown { background-color: #F4A460; }
.bg-sea-green { background-color: #2E8B57; }
.bg-sea-shell { background-color: #FFF5EE; }
.bg-sienna { background-color: #A0522D; }
.bg-silver { background-color: #C0C0C0; }
.bg-sky-blue { background-color: #87CEEB; }
.bg-slate-blue { background-color: #6A5ACD; }
.bg-slate-gray { background-color: #708090; }
.bg-slate-grey { background-color: #708090; }
.bg-snow { background-color: #FFFAFA; }
.bg-spring-green { background-color: #00FF7F; }
.bg-steel-blue { background-color: #4682B4; }
.bg-tan { background-color: #D2B48C; }
.bg-teal { background-color: #008080; }
.bg-thistle { background-color: #D8BFD8; }
.bg-tomato { background-color: #FF6347; }
.bg-turquoise { background-color: #40E0D0; }
.bg-violet { background-color: #EE82EE; }
.bg-wheat { background-color: #F5DEB3; }
.bg-white { background-color: #FFFFFF; }
.bg-white-smoke { background-color: #F5F5F5; }
.bg-yellow { background-color: #FFFF00; }
.bg-yellow-green { background-color: #9ACD32; }