.bg-alice-blue { background-color: #F0F8FF !important; }
.bg-antique-white { background-color: #FAEBD7 !important; }
.bg-aqua { background-color: #00FFFF !important; }
.bg-aquamarine { background-color: #7FFFD4 !important; }
.bg-azure { background-color: #F0FFFF !important; }
.bg-beige { background-color: #F5F5DC !important; }
.bg-bisque { background-color: #FFE4C4 !important; }
.bg-black { background-color: #000000 !important; }
.bg-blanched-almond { background-color: #FFEBCD !important; }
.bg-blue { background-color: #0000FF !important; }
.bg-blue-violet { background-color: #8A2BE2 !important; }
.bg-brown { background-color: #A52A2A !important; }
.bg-burly-wood { background-color: #DEB887 !important; }
.bg-cadet-blue { background-color: #5F9EA0 !important; }
.bg-chartreuse { background-color: #7FFF00 !important; }
.bg-chocolate { background-color: #D2691E !important; }
.bg-coral { background-color: #FF7F50 !important; }
.bg-cornflower-blue { background-color: #6495ED !important; }
.bg-cornsilk { background-color: #FFF8DC !important; }
.bg-crimson { background-color: #DC143C !important; }
.bg-cyan { background-color: #00FFFF !important; }
.bg-dark-blue { background-color: #00008B !important; }
.bg-dark-cyan { background-color: #008B8B !important; }
.bg-dark-golden-rod { background-color: #B8860B !important; }
.bg-dark-gray { background-color: #A9A9A9 !important; }
.bg-dark-grey { background-color: #A9A9A9 !important; }
.bg-dark-green { background-color: #006400 !important; }
.bg-dark-khaki { background-color: #BDB76B !important; }
.bg-dark-magenta { background-color: #8B008B !important; }
.bg-dark-olive-green { background-color: #556B2F !important; }
.bg-dark-orange { background-color: #FF8C00 !important; }
.bg-dark-orchid { background-color: #9932CC !important; }
.bg-dark-red { background-color: #8B0000 !important; }
.bg-dark-salmon { background-color: #E9967A !important; }
.bg-dark-sea-green { background-color: #8FBC8F !important; }
.bg-dark-slate-blue { background-color: #483D8B !important; }
.bg-dark-slate-gray { background-color: #2F4F4F !important; }
.bg-dark-slate-grey { background-color: #2F4F4F !important; }
.bg-dark-turquoise { background-color: #00CED1 !important; }
.bg-dark-violet { background-color: #9400D3 !important; }
.bg-deep-pink { background-color: #FF1493 !important; }
.bg-deep-sky-blue { background-color: #00BFFF !important; }
.bg-dim-gray { background-color: #696969 !important; }
.bg-dim-grey { background-color: #696969 !important; }
.bg-dodger-blue { background-color: #1E90FF !important; }
.bg-fire-brick { background-color: #B22222 !important; }
.bg-floral-white { background-color: #FFFAF0 !important; }
.bg-forest-green { background-color: #228B22 !important; }
.bg-fuchsia { background-color: #FF00FF !important; }
.bg-gainsboro { background-color: #DCDCDC !important; }
.bg-ghost-white { background-color: #F8F8FF !important; }
.bg-gold { background-color: #FFD700 !important; }
.bg-golden-rod { background-color: #DAA520 !important; }
.bg-gray { background-color: #808080 !important; }
.bg-grey { background-color: #808080 !important; }
.bg-green { background-color: #008000 !important; }
.bg-green-yellow { background-color: #ADFF2F !important; }
.bg-honey-dew { background-color: #F0FFF0 !important; }
.bg-hot-pink { background-color: #FF69B4 !important; }
.bg-indian-red { background-color: #CD5C5C !important; }
.bg-indigo { background-color: #4B0082 !important; }
.bg-ivory { background-color: #FFFFF0 !important; }
.bg-khaki { background-color: #F0E68C !important; }
.bg-lavender { background-color: #E6E6FA !important; }
.bg-lavender-blush { background-color: #FFF0F5 !important; }
.bg-lawn-green { background-color: #7CFC00 !important; }
.bg-lemon-chiffon { background-color: #FFFACD !important; }
.bg-light-blue { background-color: #ADD8E6 !important; }
.bg-light-coral { background-color: #F08080 !important; }
.bg-light-cyan { background-color: #E0FFFF !important; }
.bg-light-golden-rod-yellow { background-color: #FAFAD2 !important; }
.bg-light-gray { background-color: #D3D3D3 !important; }
.bg-light-grey { background-color: #D3D3D3 !important; }
.bg-light-green { background-color: #90EE90 !important; }
.bg-light-pink { background-color: #FFB6C1 !important; }
.bg-light-salmon { background-color: #FFA07A !important; }
.bg-light-sea-green { background-color: #20B2AA !important; }
.bg-light-sky-blue { background-color: #87CEFA !important; }
.bg-light-slate-gray { background-color: #778899 !important; }
.bg-light-slate-grey { background-color: #778899 !important; }
.bg-light-steel-blue { background-color: #B0C4DE !important; }
.bg-light-yellow { background-color: #FFFFE0 !important; }
.bg-lime { background-color: #00FF00 !important; }
.bg-lime-green { background-color: #32CD32 !important; }
.bg-linen { background-color: #FAF0E6 !important; }
.bg-magenta { background-color: #FF00FF !important; }
.bg-maroon { background-color: #800000 !important; }
.bg-medium-aqua-marine { background-color: #66CDAA !important; }
.bg-medium-blue { background-color: #0000CD !important; }
.bg-medium-orchid { background-color: #BA55D3 !important; }
.bg-medium-purple { background-color: #9370DB !important; }
.bg-medium-sea-green { background-color: #3CB371 !important; }
.bg-medium-slate-blue { background-color: #7B68EE !important; }
.bg-medium-spring-green { background-color: #00FA9A !important; }
.bg-medium-turquoise { background-color: #48D1CC !important; }
.bg-medium-violet-red { background-color: #C71585 !important; }
.bg-midnight-blue { background-color: #191970 !important; }
.bg-mint-cream { background-color: #F5FFFA !important; }
.bg-misty-rose { background-color: #FFE4E1 !important; }
.bg-moccasin { background-color: #FFE4B5 !important; }
.bg-navajo-white { background-color: #FFDEAD !important; }
.bg-navy { background-color: #000080 !important; }
.bg-old-lace { background-color: #FDF5E6 !important; }
.bg-olive { background-color: #808000 !important; }
.bg-olive-drab { background-color: #6B8E23 !important; }
.bg-orange { background-color: #FFA500 !important; }
.bg-orange-red { background-color: #FF4500 !important; }
.bg-orchid { background-color: #DA70D6 !important; }
.bg-pale-golden-rod { background-color: #EEE8AA !important; }
.bg-pale-green { background-color: #98FB98 !important; }
.bg-pale-turquoise { background-color: #AFEEEE !important; }
.bg-pale-violet-red { background-color: #DB7093 !important; }
.bg-papaya-whip { background-color: #FFEFD5 !important; }
.bg-peach-puff { background-color: #FFDAB9 !important; }
.bg-peru { background-color: #CD853F !important; }
.bg-pink { background-color: #FFC0CB !important; }
.bg-plum { background-color: #DDA0DD !important; }
.bg-powder-blue { background-color: #B0E0E6 !important; }
.bg-purple { background-color: #800080 !important; }
.bg-rebecca-purple { background-color: #663399 !important; }
.bg-red { background-color: #FF0000 !important; }
.bg-rosy-brown { background-color: #BC8F8F !important; }
.bg-royal-blue { background-color: #4169E1 !important; }
.bg-saddle-brown { background-color: #8B4513 !important; }
.bg-salmon { background-color: #FA8072 !important; }
.bg-sandy-brown { background-color: #F4A460 !important; }
.bg-sea-green { background-color: #2E8B57 !important; }
.bg-sea-shell { background-color: #FFF5EE !important; }
.bg-sienna { background-color: #A0522D !important; }
.bg-silver { background-color: #C0C0C0 !important; }
.bg-sky-blue { background-color: #87CEEB !important; }
.bg-slate-blue { background-color: #6A5ACD !important; }
.bg-slate-gray { background-color: #708090 !important; }
.bg-slate-grey { background-color: #708090 !important; }
.bg-snow { background-color: #FFFAFA !important; }
.bg-spring-green { background-color: #00FF7F !important; }
.bg-steel-blue { background-color: #4682B4 !important; }
.bg-tan { background-color: #D2B48C !important; }
.bg-teal { background-color: #008080 !important; }
.bg-thistle { background-color: #D8BFD8 !important; }
.bg-tomato { background-color: #FF6347 !important; }
.bg-turquoise { background-color: #40E0D0 !important; }
.bg-violet { background-color: #EE82EE !important; }
.bg-wheat { background-color: #F5DEB3 !important; }
.bg-white { background-color: #FFFFFF !important; }
.bg-white-smoke { background-color: #F5F5F5 !important; }
.bg-yellow { background-color: #FFFF00 !important; }
.bg-yellow-green { background-color: #9ACD32 !important; }