.border { border-width: 1px solid grey; }
.border-1 { border-width: 1px solid grey; }
.border-2 { border-width: 2px solid grey; }
.border-3 { border-width: 3px solid grey; }
.border-4 { border-width: 4px solid grey; }
.border-5 { border-width: 5px solid grey; }

.border-dotted { border-style: dotted; }
.border-dashed { border-style: dashed; }
.border-solid { border-style: solid; }
.border-double { border-style: double; }
.border-groove { border-style: groove; }
.border-ridge { border-style: ridge; }
.border-inset { border-style: inset; }
.border-outset { border-style: outset; }

.border-alice-blue { border-color: #F0F8FF !important; }
.border-antique-white { border-color: #FAEBD7 !important; }
.border-aqua { border-color: #00FFFF !important; }
.border-aquamarine { border-color: #7FFFD4 !important; }
.border-azure { border-color: #F0FFFF !important; }
.border-beige { border-color: #F5F5DC !important; }
.border-bisque { border-color: #FFE4C4 !important; }
.border-black { border-color: #000000 !important; }
.border-blanched-almond { border-color: #FFEBCD !important; }
.border-blue { border-color: #0000FF !important; }
.border-blue-violet { border-color: #8A2BE2 !important; }
.border-brown { border-color: #A52A2A !important; }
.border-burly-wood { border-color: #DEB887 !important; }
.border-cadet-blue { border-color: #5F9EA0 !important; }
.border-chartreuse { border-color: #7FFF00 !important; }
.border-chocolate { border-color: #D2691E !important; }
.border-coral { border-color: #FF7F50 !important; }
.border-cornflower-blue { border-color: #6495ED !important; }
.border-cornsilk { border-color: #FFF8DC !important; }
.border-crimson { border-color: #DC143C !important; }
.border-cyan { border-color: #00FFFF !important; }
.border-dark-blue { border-color: #00008B !important; }
.border-dark-cyan { border-color: #008B8B !important; }
.border-dark-golden-rod { border-color: #B8860B !important; }
.border-dark-gray { border-color: #A9A9A9 !important; }
.border-dark-grey { border-color: #A9A9A9 !important; }
.border-dark-green { border-color: #006400 !important; }
.border-dark-khaki { border-color: #BDB76B !important; }
.border-dark-magenta { border-color: #8B008B !important; }
.border-dark-olive-green { border-color: #556B2F !important; }
.border-dark-orange { border-color: #FF8C00 !important; }
.border-dark-orchid { border-color: #9932CC !important; }
.border-dark-red { border-color: #8B0000 !important; }
.border-dark-salmon { border-color: #E9967A !important; }
.border-dark-sea-green { border-color: #8FBC8F !important; }
.border-dark-slate-blue { border-color: #483D8B !important; }
.border-dark-slate-gray { border-color: #2F4F4F !important; }
.border-dark-slate-grey { border-color: #2F4F4F !important; }
.border-dark-turquoise { border-color: #00CED1 !important; }
.border-dark-violet { border-color: #9400D3 !important; }
.border-deep-pink { border-color: #FF1493 !important; }
.border-deep-sky-blue { border-color: #00BFFF !important; }
.border-dim-gray { border-color: #696969 !important; }
.border-dim-grey { border-color: #696969 !important; }
.border-dodger-blue { border-color: #1E90FF !important; }
.border-fire-brick { border-color: #B22222 !important; }
.border-floral-white { border-color: #FFFAF0 !important; }
.border-forest-green { border-color: #228B22 !important; }
.border-fuchsia { border-color: #FF00FF !important; }
.border-gainsboro { border-color: #DCDCDC !important; }
.border-ghost-white { border-color: #F8F8FF !important; }
.border-gold { border-color: #FFD700 !important; }
.border-golden-rod { border-color: #DAA520 !important; }
.border-gray { border-color: #808080 !important; }
.border-grey { border-color: #808080 !important; }
.border-green { border-color: #008000 !important; }
.border-green-yellow { border-color: #ADFF2F !important; }
.border-honey-dew { border-color: #F0FFF0 !important; }
.border-hot-pink { border-color: #FF69B4 !important; }
.border-indian-red { border-color: #CD5C5C !important; }
.border-indigo { border-color: #4B0082 !important; }
.border-ivory { border-color: #FFFFF0 !important; }
.border-khaki { border-color: #F0E68C !important; }
.border-lavender { border-color: #E6E6FA !important; }
.border-lavender-blush { border-color: #FFF0F5 !important; }
.border-lawn-green { border-color: #7CFC00 !important; }
.border-lemon-chiffon { border-color: #FFFACD !important; }
.border-light-blue { border-color: #ADD8E6 !important; }
.border-light-coral { border-color: #F08080 !important; }
.border-light-cyan { border-color: #E0FFFF !important; }
.border-light-golden-rod-yellow { border-color: #FAFAD2 !important; }
.border-light-gray { border-color: #D3D3D3 !important; }
.border-light-grey { border-color: #D3D3D3 !important; }
.border-light-green { border-color: #90EE90 !important; }
.border-light-pink { border-color: #FFB6C1 !important; }
.border-light-salmon { border-color: #FFA07A !important; }
.border-light-sea-green { border-color: #20B2AA !important; }
.border-light-sky-blue { border-color: #87CEFA !important; }
.border-light-slate-gray { border-color: #778899 !important; }
.border-light-slate-grey { border-color: #778899 !important; }
.border-light-steel-blue { border-color: #B0C4DE !important; }
.border-light-yellow { border-color: #FFFFE0 !important; }
.border-lime { border-color: #00FF00 !important; }
.border-lime-green { border-color: #32CD32 !important; }
.border-linen { border-color: #FAF0E6 !important; }
.border-magenta { border-color: #FF00FF !important; }
.border-maroon { border-color: #800000 !important; }
.border-medium-aqua-marine { border-color: #66CDAA !important; }
.border-medium-blue { border-color: #0000CD !important; }
.border-medium-orchid { border-color: #BA55D3 !important; }
.border-medium-purple { border-color: #9370DB !important; }
.border-medium-sea-green { border-color: #3CB371 !important; }
.border-medium-slate-blue { border-color: #7B68EE !important; }
.border-medium-spring-green { border-color: #00FA9A !important; }
.border-medium-turquoise { border-color: #48D1CC !important; }
.border-medium-violet-red { border-color: #C71585 !important; }
.border-midnight-blue { border-color: #191970 !important; }
.border-mint-cream { border-color: #F5FFFA !important; }
.border-misty-rose { border-color: #FFE4E1 !important; }
.border-moccasin { border-color: #FFE4B5 !important; }
.border-navajo-white { border-color: #FFDEAD !important; }
.border-navy { border-color: #000080 !important; }
.border-old-lace { border-color: #FDF5E6 !important; }
.border-olive { border-color: #808000 !important; }
.border-olive-drab { border-color: #6B8E23 !important; }
.border-orange { border-color: #FFA500 !important; }
.border-orange-red { border-color: #FF4500 !important; }
.border-orchid { border-color: #DA70D6 !important; }
.border-pale-golden-rod { border-color: #EEE8AA !important; }
.border-pale-green { border-color: #98FB98 !important; }
.border-pale-turquoise { border-color: #AFEEEE !important; }
.border-pale-violet-red { border-color: #DB7093 !important; }
.border-papaya-whip { border-color: #FFEFD5 !important; }
.border-peach-puff { border-color: #FFDAB9 !important; }
.border-peru { border-color: #CD853F !important; }
.border-pink { border-color: #FFC0CB !important; }
.border-plum { border-color: #DDA0DD !important; }
.border-powder-blue { border-color: #B0E0E6 !important; }
.border-purple { border-color: #800080 !important; }
.border-rebecca-purple { border-color: #663399 !important; }
.border-red { border-color: #FF0000 !important; }
.border-rosy-brown { border-color: #BC8F8F !important; }
.border-royal-blue { border-color: #4169E1 !important; }
.border-saddle-brown { border-color: #8B4513 !important; }
.border-salmon { border-color: #FA8072 !important; }
.border-sandy-brown { border-color: #F4A460 !important; }
.border-sea-green { border-color: #2E8B57 !important; }
.border-sea-shell { border-color: #FFF5EE !important; }
.border-sienna { border-color: #A0522D !important; }
.border-silver { border-color: #C0C0C0 !important; }
.border-sky-blue { border-color: #87CEEB !important; }
.border-slate-blue { border-color: #6A5ACD !important; }
.border-slate-gray { border-color: #708090 !important; }
.border-slate-grey { border-color: #708090 !important; }
.border-snow { border-color: #FFFAFA !important; }
.border-spring-green { border-color: #00FF7F !important; }
.border-steel-blue { border-color: #4682B4 !important; }
.border-tan { border-color: #D2B48C !important; }
.border-teal { border-color: #008080 !important; }
.border-thistle { border-color: #D8BFD8 !important; }
.border-tomato { border-color: #FF6347 !important; }
.border-turquoise { border-color: #40E0D0 !important; }
.border-violet { border-color: #EE82EE !important; }
.border-wheat { border-color: #F5DEB3 !important; }
.border-white { border-color: #FFFFFF !important; }
.border-white-smoke { border-color: #F5F5F5 !important; }
.border-yellow { border-color: #FFFF00 !important; }
.border-yellow-green { border-color: #9ACD32 !important; }