.trinium-card-header {
  border: 1px solid grey;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.trinium-card-body {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 10px;
}
