/** Headers */
.t-h1, .t-h2, .t-h3, .t-h4, .t-h5, .t-h6 {
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
}

/** Re-define header sizes */
.t-h1 { font-size: 128px; }
.t-h2 { font-size: 64px; }
.t-h3 { font-size: 48px; }
.t-h4 { font-size: 32px; }
.t-h5 { font-size: 24px; }
.t-h6 { font-size: 16px; }
