.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  border: 0px;
}

.image-shadow {
  box-shadow: 5px 5px 5px grey;
}

.image-shadow-sm, .image-shadow-small {
  box-shadow: 3px 3px 3px grey;
}

.image-shadow-md, .image-shadow-medium {
  box-shadow: 5px 5px 5px grey;
}

.image-shadow-lg, .image-shadow-large {
  box-shadow: 10px 10px 10px grey;
}
