.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  border: 0px;
}

.image-shadow-ty, .image-shadow-tiny {
  box-shadow: 3px 3px 3px grey;
}

.image-shadow, .image-shadow-sm, .image-shadow-small {
  box-shadow: 5px 5px 5px grey;
}

.image-shadow-md, .image-shadow-medium {
  box-shadow: 10px 10px 10px grey;
}

.image-shadow-lg, .image-shadow-large {
  box-shadow: 15px 15px 105px grey;
}

.image-shadow-xl, .image-shadow-large {
  box-shadow: 25px 25px 25px grey;
}
