.shadow-ty, .shadow-tiny {
  box-shadow: 3px 3px 3px grey;
}

.shadow, .shadow-sm, .shadow-small {
  box-shadow: 5px 5px 5px grey;
}

.shadow-md, .shadow-medium {
  box-shadow: 10px 10px 10px grey;
}

.shadow-lg, .shadow-large {
  box-shadow: 15px 15px 105px grey;
}

.shadow-xl, .shadow-large {
  box-shadow: 25px 25px 25px grey;
}
