.t-table {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
}

.t-table td, .t-table th {
  border: 1px solid grey;
  text-align: left;
}

.t-table td, .t-table th {
  padding: 5px;
}
