.text-alice-blue { color: #F0F8FF !important; }
.text-antique-white { color: #FAEBD7 !important; }
.text-aqua { color: #00FFFF !important; }
.text-aquamarine { color: #7FFFD4 !important; }
.text-azure { color: #F0FFFF !important; }
.text-beige { color: #F5F5DC !important; }
.text-bisque { color: #FFE4C4 !important; }
.text-black { color: #000000 !important; }
.text-blanched-almond { color: #FFEBCD !important; }
.text-blue { color: #0000FF !important; }
.text-blue-violet { color: #8A2BE2 !important; }
.text-brown { color: #A52A2A !important; }
.text-burly-wood { color: #DEB887 !important; }
.text-cadet-blue { color: #5F9EA0 !important; }
.text-chartreuse { color: #7FFF00 !important; }
.text-chocolate { color: #D2691E !important; }
.text-coral { color: #FF7F50 !important; }
.text-cornflower-blue { color: #6495ED !important; }
.text-cornsilk { color: #FFF8DC !important; }
.text-crimson { color: #DC143C !important; }
.text-cyan { color: #00FFFF !important; }
.text-dark-blue { color: #00008B !important; }
.text-dark-cyan { color: #008B8B !important; }
.text-dark-golden-rod { color: #B8860B !important; }
.text-dark-gray { color: #A9A9A9 !important; }
.text-dark-grey { color: #A9A9A9 !important; }
.text-dark-green { color: #006400 !important; }
.text-dark-khaki { color: #BDB76B !important; }
.text-dark-magenta { color: #8B008B !important; }
.text-dark-olive-green { color: #556B2F !important; }
.text-dark-orange { color: #FF8C00 !important; }
.text-dark-orchid { color: #9932CC !important; }
.text-dark-red { color: #8B0000 !important; }
.text-dark-salmon { color: #E9967A !important; }
.text-dark-sea-green { color: #8FBC8F !important; }
.text-dark-slate-blue { color: #483D8B !important; }
.text-dark-slate-gray { color: #2F4F4F !important; }
.text-dark-slate-grey { color: #2F4F4F !important; }
.text-dark-turquoise { color: #00CED1 !important; }
.text-dark-violet { color: #9400D3 !important; }
.text-deep-pink { color: #FF1493 !important; }
.text-deep-sky-blue { color: #00BFFF !important; }
.text-dim-gray { color: #696969 !important; }
.text-dim-grey { color: #696969 !important; }
.text-dodger-blue { color: #1E90FF !important; }
.text-fire-brick { color: #B22222 !important; }
.text-floral-white { color: #FFFAF0 !important; }
.text-forest-green { color: #228B22 !important; }
.text-fuchsia { color: #FF00FF !important; }
.text-gainsboro { color: #DCDCDC !important; }
.text-ghost-white { color: #F8F8FF !important; }
.text-gold { color: #FFD700 !important; }
.text-golden-rod { color: #DAA520 !important; }
.text-gray { color: #808080 !important; }
.text-grey { color: #808080 !important; }
.text-green { color: #008000 !important; }
.text-green-yellow { color: #ADFF2F !important; }
.text-honey-dew { color: #F0FFF0 !important; }
.text-hot-pink { color: #FF69B4 !important; }
.text-indian-red { color: #CD5C5C !important; }
.text-indigo { color: #4B0082 !important; }
.text-ivory { color: #FFFFF0 !important; }
.text-khaki { color: #F0E68C !important; }
.text-lavender { color: #E6E6FA !important; }
.text-lavender-blush { color: #FFF0F5 !important; }
.text-lawn-green { color: #7CFC00 !important; }
.text-lemon-chiffon { color: #FFFACD !important; }
.text-light-blue { color: #ADD8E6 !important; }
.text-light-coral { color: #F08080 !important; }
.text-light-cyan { color: #E0FFFF !important; }
.text-light-golden-rod-yellow { color: #FAFAD2 !important; }
.text-light-gray { color: #D3D3D3 !important; }
.text-light-grey { color: #D3D3D3 !important; }
.text-light-green { color: #90EE90 !important; }
.text-light-pink { color: #FFB6C1 !important; }
.text-light-salmon { color: #FFA07A !important; }
.text-light-sea-green { color: #20B2AA !important; }
.text-light-sky-blue { color: #87CEFA !important; }
.text-light-slate-gray { color: #778899 !important; }
.text-light-slate-grey { color: #778899 !important; }
.text-light-steel-blue { color: #B0C4DE !important; }
.text-light-yellow { color: #FFFFE0 !important; }
.text-lime { color: #00FF00 !important; }
.text-lime-green { color: #32CD32 !important; }
.text-linen { color: #FAF0E6 !important; }
.text-magenta { color: #FF00FF !important; }
.text-maroon { color: #800000 !important; }
.text-medium-aqua-marine { color: #66CDAA !important; }
.text-medium-blue { color: #0000CD !important; }
.text-medium-orchid { color: #BA55D3 !important; }
.text-medium-purple { color: #9370DB !important; }
.text-medium-sea-green { color: #3CB371 !important; }
.text-medium-slate-blue { color: #7B68EE !important; }
.text-medium-spring-green { color: #00FA9A !important; }
.text-medium-turquoise { color: #48D1CC !important; }
.text-medium-violet-red { color: #C71585 !important; }
.text-midnight-blue { color: #191970 !important; }
.text-mint-cream { color: #F5FFFA !important; }
.text-misty-rose { color: #FFE4E1 !important; }
.text-moccasin { color: #FFE4B5 !important; }
.text-navajo-white { color: #FFDEAD !important; }
.text-navy { color: #000080 !important; }
.text-old-lace { color: #FDF5E6 !important; }
.text-olive { color: #808000 !important; }
.text-olive-drab { color: #6B8E23 !important; }
.text-orange { color: #FFA500 !important; }
.text-orange-red { color: #FF4500 !important; }
.text-orchid { color: #DA70D6 !important; }
.text-pale-golden-rod { color: #EEE8AA !important; }
.text-pale-green { color: #98FB98 !important; }
.text-pale-turquoise { color: #AFEEEE !important; }
.text-pale-violet-red { color: #DB7093 !important; }
.text-papaya-whip { color: #FFEFD5 !important; }
.text-peach-puff { color: #FFDAB9 !important; }
.text-peru { color: #CD853F !important; }
.text-pink { color: #FFC0CB !important; }
.text-plum { color: #DDA0DD !important; }
.text-powder-blue { color: #B0E0E6 !important; }
.text-purple { color: #800080 !important; }
.text-rebecca-purple { color: #663399 !important; }
.text-red { color: #FF0000 !important; }
.text-rosy-brown { color: #BC8F8F !important; }
.text-royal-blue { color: #4169E1 !important; }
.text-saddle-brown { color: #8B4513 !important; }
.text-salmon { color: #FA8072 !important; }
.text-sandy-brown { color: #F4A460 !important; }
.text-sea-green { color: #2E8B57 !important; }
.text-sea-shell { color: #FFF5EE !important; }
.text-sienna { color: #A0522D !important; }
.text-silver { color: #C0C0C0 !important; }
.text-sky-blue { color: #87CEEB !important; }
.text-slate-blue { color: #6A5ACD !important; }
.text-slate-gray { color: #708090 !important; }
.text-slate-grey { color: #708090 !important; }
.text-snow { color: #FFFAFA !important; }
.text-spring-green { color: #00FF7F !important; }
.text-steel-blue { color: #4682B4 !important; }
.text-tan { color: #D2B48C !important; }
.text-teal { color: #008080 !important; }
.text-thistle { color: #D8BFD8 !important; }
.text-tomato { color: #FF6347 !important; }
.text-turquoise { color: #40E0D0 !important; }
.text-violet { color: #EE82EE !important; }
.text-wheat { color: #F5DEB3 !important; }
.text-white { color: #FFFFFF !important; }
.text-white-smoke { color: #F5F5F5 !important; }
.text-yellow { color: #FFFF00 !important; }
.text-yellow-green { color: #9ACD32 !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-justify { text-align: justify !important; }

.text-shadow-ty, .text-shadow-tiny { text-shadow: 2px 2px 1px #000000 !important; }
.text-shadow, .text-shadow-sm, .text-shadow-small { text-shadow: 2px 2px 2px #000000 !important; }
.text-shadow-md, .text-shadow-medium { text-shadow: 3px 3px 3px #000000 !important; }
.text-shadow-lg, .text-shadow-large { text-shadow: 3px 3px 4px #000000 !important; }
.text-shadow-xl, .text-shadow-xlarge { text-shadow: 5px 5px 5px #000000 !important; }

.text-indent { text-indent: 15px !important; }
.text-lighter { font-weight: lighter !important; }
.text-normal { font-weight: normal !important; font-style: normal !important; font-variant: normal !important; }
.text-bold { font-weight: bold !important; }
.text-bolder { font-weight: bolder !important; }
.text-italic { font-style: italic !important; }
.text-oblique { font-style: oblique !important; }
.text-small-caps { font-variant: small-caps !important; }
.text-underline { text-decoration: underline !important; }
.text-overline { text-decoration: overline !important; }
.text-line-through { text-decoration: line-through !important; }

.text-lines-solid { text-decoration-style: solid !important; }
.text-lines-double { text-decoration-style: double !important; }
.text-lines-dotted { text-decoration-style: dotted !important; }
.text-lines-dashed { text-decoration-style: dashed !important; }
.text-lines-wavy { text-decoration-style: wavy !important; }

.text-lines-alice-blue { text-decoration-color: #F0F8FF !important; }
.text-lines-antique-white { text-decoration-color: #FAEBD7 !important; }
.text-lines-aqua { text-decoration-color: #00FFFF !important; }
.text-lines-aquamarine { text-decoration-color: #7FFFD4 !important; }
.text-lines-azure { text-decoration-color: #F0FFFF !important; }
.text-lines-beige { text-decoration-color: #F5F5DC !important; }
.text-lines-bisque { text-decoration-color: #FFE4C4 !important; }
.text-lines-black { text-decoration-color: #000000 !important; }
.text-lines-blanched-almond { text-decoration-color: #FFEBCD !important; }
.text-lines-blue { text-decoration-color: #0000FF !important; }
.text-lines-blue-violet { text-decoration-color: #8A2BE2 !important; }
.text-lines-brown { text-decoration-color: #A52A2A !important; }
.text-lines-burly-wood { text-decoration-color: #DEB887 !important; }
.text-lines-cadet-blue { text-decoration-color: #5F9EA0 !important; }
.text-lines-chartreuse { text-decoration-color: #7FFF00 !important; }
.text-lines-chocolate { text-decoration-color: #D2691E !important; }
.text-lines-coral { text-decoration-color: #FF7F50 !important; }
.text-lines-cornflower-blue { text-decoration-color: #6495ED !important; }
.text-lines-cornsilk { text-decoration-color: #FFF8DC !important; }
.text-lines-crimson { text-decoration-color: #DC143C !important; }
.text-lines-cyan { text-decoration-color: #00FFFF !important; }
.text-lines-dark-blue { text-decoration-color: #00008B !important; }
.text-lines-dark-cyan { text-decoration-color: #008B8B !important; }
.text-lines-dark-golden-rod { text-decoration-color: #B8860B !important; }
.text-lines-dark-gray { text-decoration-color: #A9A9A9 !important; }
.text-lines-dark-grey { text-decoration-color: #A9A9A9 !important; }
.text-lines-dark-green { text-decoration-color: #006400 !important; }
.text-lines-dark-khaki { text-decoration-color: #BDB76B !important; }
.text-lines-dark-magenta { text-decoration-color: #8B008B !important; }
.text-lines-dark-olive-green { text-decoration-color: #556B2F !important; }
.text-lines-dark-orange { text-decoration-color: #FF8C00 !important; }
.text-lines-dark-orchid { text-decoration-color: #9932CC !important; }
.text-lines-dark-red { text-decoration-color: #8B0000 !important; }
.text-lines-dark-salmon { text-decoration-color: #E9967A !important; }
.text-lines-dark-sea-green { text-decoration-color: #8FBC8F !important; }
.text-lines-dark-slate-blue { text-decoration-color: #483D8B !important; }
.text-lines-dark-slate-gray { text-decoration-color: #2F4F4F !important; }
.text-lines-dark-slate-grey { text-decoration-color: #2F4F4F !important; }
.text-lines-dark-turquoise { text-decoration-color: #00CED1 !important; }
.text-lines-dark-violet { text-decoration-color: #9400D3 !important; }
.text-lines-deep-pink { text-decoration-color: #FF1493 !important; }
.text-lines-deep-sky-blue { text-decoration-color: #00BFFF !important; }
.text-lines-dim-gray { text-decoration-color: #696969 !important; }
.text-lines-dim-grey { text-decoration-color: #696969 !important; }
.text-lines-dodger-blue { text-decoration-color: #1E90FF !important; }
.text-lines-fire-brick { text-decoration-color: #B22222 !important; }
.text-lines-floral-white { text-decoration-color: #FFFAF0 !important; }
.text-lines-forest-green { text-decoration-color: #228B22 !important; }
.text-lines-fuchsia { text-decoration-color: #FF00FF !important; }
.text-lines-gainsboro { text-decoration-color: #DCDCDC !important; }
.text-lines-ghost-white { text-decoration-color: #F8F8FF !important; }
.text-lines-gold { text-decoration-color: #FFD700 !important; }
.text-lines-golden-rod { text-decoration-color: #DAA520 !important; }
.text-lines-gray { text-decoration-color: #808080 !important; }
.text-lines-grey { text-decoration-color: #808080 !important; }
.text-lines-green { text-decoration-color: #008000 !important; }
.text-lines-green-yellow { text-decoration-color: #ADFF2F !important; }
.text-lines-honey-dew { text-decoration-color: #F0FFF0 !important; }
.text-lines-hot-pink { text-decoration-color: #FF69B4 !important; }
.text-lines-indian-red { text-decoration-color: #CD5C5C !important; }
.text-lines-indigo { text-decoration-color: #4B0082 !important; }
.text-lines-ivory { text-decoration-color: #FFFFF0 !important; }
.text-lines-khaki { text-decoration-color: #F0E68C !important; }
.text-lines-lavender { text-decoration-color: #E6E6FA !important; }
.text-lines-lavender-blush { text-decoration-color: #FFF0F5 !important; }
.text-lines-lawn-green { text-decoration-color: #7CFC00 !important; }
.text-lines-lemon-chiffon { text-decoration-color: #FFFACD !important; }
.text-lines-light-blue { text-decoration-color: #ADD8E6 !important; }
.text-lines-light-coral { text-decoration-color: #F08080 !important; }
.text-lines-light-cyan { text-decoration-color: #E0FFFF !important; }
.text-lines-light-golden-rod-yellow { text-decoration-color: #FAFAD2 !important; }
.text-lines-light-gray { text-decoration-color: #D3D3D3 !important; }
.text-lines-light-grey { text-decoration-color: #D3D3D3 !important; }
.text-lines-light-green { text-decoration-color: #90EE90 !important; }
.text-lines-light-pink { text-decoration-color: #FFB6C1 !important; }
.text-lines-light-salmon { text-decoration-color: #FFA07A !important; }
.text-lines-light-sea-green { text-decoration-color: #20B2AA !important; }
.text-lines-light-sky-blue { text-decoration-color: #87CEFA !important; }
.text-lines-light-slate-gray { text-decoration-color: #778899 !important; }
.text-lines-light-slate-grey { text-decoration-color: #778899 !important; }
.text-lines-light-steel-blue { text-decoration-color: #B0C4DE !important; }
.text-lines-light-yellow { text-decoration-color: #FFFFE0 !important; }
.text-lines-lime { text-decoration-color: #00FF00 !important; }
.text-lines-lime-green { text-decoration-color: #32CD32 !important; }
.text-lines-linen { text-decoration-color: #FAF0E6 !important; }
.text-lines-magenta { text-decoration-color: #FF00FF !important; }
.text-lines-maroon { text-decoration-color: #800000 !important; }
.text-lines-medium-aqua-marine { text-decoration-color: #66CDAA !important; }
.text-lines-medium-blue { text-decoration-color: #0000CD !important; }
.text-lines-medium-orchid { text-decoration-color: #BA55D3 !important; }
.text-lines-medium-purple { text-decoration-color: #9370DB !important; }
.text-lines-medium-sea-green { text-decoration-color: #3CB371 !important; }
.text-lines-medium-slate-blue { text-decoration-color: #7B68EE !important; }
.text-lines-medium-spring-green { text-decoration-color: #00FA9A !important; }
.text-lines-medium-turquoise { text-decoration-color: #48D1CC !important; }
.text-lines-medium-violet-red { text-decoration-color: #C71585 !important; }
.text-lines-midnight-blue { text-decoration-color: #191970 !important; }
.text-lines-mint-cream { text-decoration-color: #F5FFFA !important; }
.text-lines-misty-rose { text-decoration-color: #FFE4E1 !important; }
.text-lines-moccasin { text-decoration-color: #FFE4B5 !important; }
.text-lines-navajo-white { text-decoration-color: #FFDEAD !important; }
.text-lines-navy { text-decoration-color: #000080 !important; }
.text-lines-old-lace { text-decoration-color: #FDF5E6 !important; }
.text-lines-olive { text-decoration-color: #808000 !important; }
.text-lines-olive-drab { text-decoration-color: #6B8E23 !important; }
.text-lines-orange { text-decoration-color: #FFA500 !important; }
.text-lines-orange-red { text-decoration-color: #FF4500 !important; }
.text-lines-orchid { text-decoration-color: #DA70D6 !important; }
.text-lines-pale-golden-rod { text-decoration-color: #EEE8AA !important; }
.text-lines-pale-green { text-decoration-color: #98FB98 !important; }
.text-lines-pale-turquoise { text-decoration-color: #AFEEEE !important; }
.text-lines-pale-violet-red { text-decoration-color: #DB7093 !important; }
.text-lines-papaya-whip { text-decoration-color: #FFEFD5 !important; }
.text-lines-peach-puff { text-decoration-color: #FFDAB9 !important; }
.text-lines-peru { text-decoration-color: #CD853F !important; }
.text-lines-pink { text-decoration-color: #FFC0CB !important; }
.text-lines-plum { text-decoration-color: #DDA0DD !important; }
.text-lines-powder-blue { text-decoration-color: #B0E0E6 !important; }
.text-lines-purple { text-decoration-color: #800080 !important; }
.text-lines-rebecca-purple { text-decoration-color: #663399 !important; }
.text-lines-red { text-decoration-color: #FF0000 !important; }
.text-lines-rosy-brown { text-decoration-color: #BC8F8F !important; }
.text-lines-royal-blue { text-decoration-color: #4169E1 !important; }
.text-lines-saddle-brown { text-decoration-color: #8B4513 !important; }
.text-lines-salmon { text-decoration-color: #FA8072 !important; }
.text-lines-sandy-brown { text-decoration-color: #F4A460 !important; }
.text-lines-sea-green { text-decoration-color: #2E8B57 !important; }
.text-lines-sea-shell { text-decoration-color: #FFF5EE !important; }
.text-lines-sienna { text-decoration-color: #A0522D !important; }
.text-lines-silver { text-decoration-color: #C0C0C0 !important; }
.text-lines-sky-blue { text-decoration-color: #87CEEB !important; }
.text-lines-slate-blue { text-decoration-color: #6A5ACD !important; }
.text-lines-slate-gray { text-decoration-color: #708090 !important; }
.text-lines-slate-grey { text-decoration-color: #708090 !important; }
.text-lines-snow { text-decoration-color: #FFFAFA !important; }
.text-lines-spring-green { text-decoration-color: #00FF7F !important; }
.text-lines-steel-blue { text-decoration-color: #4682B4 !important; }
.text-lines-tan { text-decoration-color: #D2B48C !important; }
.text-lines-teal { text-decoration-color: #008080 !important; }
.text-lines-thistle { text-decoration-color: #D8BFD8 !important; }
.text-lines-tomato { text-decoration-color: #FF6347 !important; }
.text-lines-turquoise { text-decoration-color: #40E0D0 !important; }
.text-lines-violet { text-decoration-color: #EE82EE !important; }
.text-lines-wheat { text-decoration-color: #F5DEB3 !important; }
.text-lines-white { text-decoration-color: #FFFFFF !important; }
.text-lines-white-smoke { text-decoration-color: #F5F5F5 !important; }
.text-lines-yellow { text-decoration-color: #FFFF00 !important; }
.text-lines-yellow-green { text-decoration-color: #9ACD32 !important; }