@import 'backgrounds';
@import 'cards';
@import 'ezforms';
@import 'fill';
@import 'flex';
@import 'headings';
@import 'images';
@import 'margin';
@import 'padding';
@import 'sizing';
@import 'tables';
@import 'text';

body {
  font-size: 16px;
}

body, body * {
  box-sizing: border-box;  
  font-family: Arial, sans-serif;
}

p {
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: justify;
  text-indent: 15px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
